.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {

}


.header, footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color:white;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/*.form-signin {*/
  /*max-width: 280px;*/
  /*padding: 15px;*/
  /*margin: 0 auto;*/
  /*margin-top:50px;*/
/*}*/
/*.form-signin .form-signin-heading, .form-signin {*/
  /*margin-bottom: 10px;*/
/*}*/
/*.form-signin .form-control {*/
  /*position: relative;*/
  /*font-size: 16px;*/
  /*height: auto;*/
  /*padding: 10px;*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
/*}*/
/*.form-signin .form-control:focus {*/
  /*z-index: 2;*/
/*}*/
/*.form-signin input[type="text"] {*/
  /*margin-bottom: -1px;*/
  /*border-bottom-left-radius: 0;*/
  /*border-bottom-right-radius: 0;*/
  /*border-top-style: solid;*/
  /*border-right-style: solid;*/
  /*border-bottom-style: none;*/
  /*border-left-style: solid;*/
/*}*/
/*.form-signin input[type="password"] {*/
  /*margin-bottom: -1px;*/
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 0;*/
  /*border-top-style: none;*/
  /*border-right-style: solid;*/
  /*border-bottom-style: solid;*/
  /*border-left-style: solid;*/
  /*border-top:1px solid rgba(0,0,0,0.08);*/
/*}*/
/*.form-signin-heading {*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*text-shadow: 0 2px 2px rgba(0,0,0,0.5);*/
/*}*/

/*.main-alert{*/
  /*position:absolute;*/
  /*top: 400px;*/
  /*left:5px;*/
  /*right:5px;*/
  /*max-width:400px;*/
  /*margin:0 auto*/
/*}*/
/*.alert-hidden{*/
  /*visibility: hidden;*/
/*}*/



.well[ui-view]{
  height: 65px;
}
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}


.social-button{
  font-size:24px;
  padding: 1px;
}
.facebook{
  background-color: #3b5998;
  color:white;
}
.linked-in{
  background-color: #0e76a8;
  color:white;
}
.google{
  background-color:#dd4b39;
  color:white;
}
.twitter{
  background-color: #4099FF;
  color:white;
}





header{
  text-align: center;
  color: #f7f7f7;
  background-color: #333;
}

aside{
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 40px;
  margin-top:0px;
}

.range-title{
  font-weight: bold;
}

.range-list{
  padding-top: 40px;
  padding-bottom: 40px;
}

.range-list h4{
  padding-bottom: 30px;
  font-weight: bold;
}
.range-list img{
  width:100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
}


.right-icon-list{
  background-color: #333;
  padding-bottom: 40px;
  margin-top:0px;
}

.right-icon-list h3{
  color: #cecece;
  padding-bottom: 40px;
  font-weight: bold;
}

.right-icon-list a h5 {
  color: #cecece;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 35px;
}
.right-icon-list img{
  width:100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
}

.right-icon-list-top div{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.right-icon-list-top a{
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
}

article{
  padding: 40px;
}

article img{
  width:100%;
  height: 100%;
  text-align: center;
  box-shadow: 6px 6px 6px #777;
  margin-bottom: 20px;
}
article p{
  font-size: 16px;
}


.navbar{
  background-color: #000000;
  margin-bottom:0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*library causes header to turn opaque when scrolling mobile*/
.cbp-af-header-shrink{
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: .8;
}

/*shrinks brand as screen gets below 400 px*/
@media(max-width: 400px){
  .navbar-header{
    position:relative;
  }
  .navbar img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    width:70%
    height:70%
  }
}

.img-responsive{
  margin: 0px auto;
  border: 3px solid sandybrown;
  box-shadow: sienna 10px 10px 60px;
}

.fill-screen{
  background-size: cover;
  background-position: center;
}


.fixed-attached{
  background-attachment: fixed;
}
@media(max-width: 1024px){
  .fixed-attached {
    background-attachment: scroll;
  }
}
.text-banner{
  text-align: center;
  margin: 40px 20px;
}

.text-banner h1{
  font-size:44px;
}
.activity-section{
  margin:50px;
}
.activity-element{
  text-align:center;
}

.activity-element img{
  width:150px;
  heght:150px;
}
.contact-us{
  margin: 50px;
  text-align:center;
}

.title-row{
  position: relative;
  min-height: 300px;
}

.title-image{
  position: absolute;
  padding: 20px;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
.down-button{
  position:absolute;
  bottom: 40px;
  width:100%;
  text-align: center;
}

.down-button i{
  color:white;
}

#gc_carousel{
  margin:40px 0px;
}
#gc_carousel img{
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .range-list h4{
    display: inline;
    font-size:18px;
  }
  .range-list a{
    display:block;
  }
  .range-list img{
    width:33%;
    hight:33%
    margin-right:10px;
    margin-bottom:30px;
    margin-top: 20px;
  }
}
 .has-error {
  color:red;
}

.system header {
  padding: 10px 0px 10px 0px;
  margin: 0px;
  font-size: larger;
  font-weight: bold;
}


 .child section header{

   background-color: crimson;
   color: white;
   padding:10px 0px 10px 0px;
   font-size: medium;
   font-weight:  500;

 }

 .child article header{
   border-radius: 5% ;
   background-color: lightgrey;
   color:black;
   text-align: left;
   padding:10px;
   border: 10px;
   margin:0px 0px 20px 0px;
   font-weight: bold;
 }

 .child img{
   width:11%;
   hight:11%;
   margin:0px;
 }
