<header ng-controller="HeaderCtrl" class="header">

  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">MEAN</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav" >
          <li ng-show="isAuthenticated()" ui-sref-active="active"><a ui-sref="main">Main</a></li>

          <li ng-show="isAuthenticated()" class="dropdown" ui-sref-active="active" >
            <a ui-sref="system_parent" class="dropdown-toggle" data-toggle="dropdown">System <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="system_parent.architecture">Architecture</a></li>
              <li><a ui-sref="system_parent.guidelines">Guidelines</a></li>
              <li><a ui-sref="system_parent.setup">Set Up</a></li>

            </ul>
          </li>


          <li ng-show="isAuthenticated()" class="dropdown" ui-sref-active="active" >
            <a ui-sref="quality_parent" class="dropdown-toggle" data-toggle="dropdown">Quality <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="quality_parent.backend">Mockito</a></li>
              <li><a ui-sref="quality_parent.backend">JUnit</a></li>
              <li><a ui-sref="quality_parent.frontend">Protractor</a></li>
              <li><a ui-sref="quality_parent.backend">Karma</a></li>
            </ul>
          </li>



          <li ng-show="isAuthenticated()"ui-sref-active="responsive"><a ui-sref="responsive">Examples</a></li>
          <!--<li ng-show="isAuthenticated()"ui-sref-active="active"><a ui-sref="job_parent.job_detail({id:1})">Jobs</a></li>-->
          <li ng-show="isAuthenticated()"ui-sref-active="active"><a ui-sref="profile">Update Profile</a></li>
          <!--<li ng-show="isAuthenticated()"ui-sref-active="active"><a ui-sref="job_parent.quality">quality</a></li>-->
          <li ng-hide="isAuthenticated()"ui-sref-active="active"><a ui-sref="login">Login </a></li>

          <li ng-show="isAuthenticated()"ui-sref-active="active"><a ui-sref="logout">Log Off -- {{displayName}} </a></li>

        </ul>
      </div>
    </div>
  </div>
</header>
