<div class="jumbotron">
  <p class="lead">User Profile</p>
  <form name="register" class="form-signin" novalidate ng-controller="RegisterCtrl">

    <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email address" required="" autofocus="">
    <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Valid Email</p>

    <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" required >
    <input type="password" name="confirm" ng-model="user.confirm" class="form-control" placeholder="Confirm" validate-equals="user.password">

    <p class="help-block" ng-show="register.confirm.$dirty && register.confirm.$invalid">Passwords must match</p>

    <button ng-click="satellizer()" ng-disabled="register.$invalid" class="btn btn-lg btn-default btn-block" type="button" ng-click="submit()">
      Register
    </button>
  </form>
</div>
