


<html>
<head>

</head>
<body>

<header class="container-fluid">
  <h1>Column Drop Pattern</h1>

</header>

<div class="container-fluid">

  <div class="row">


    <section class="col-sm-9 col-md-8 col-sm-push-3 col-md-push-2">
      <article>
        <h2>Concepts -- uses push/pull</h2>

        <div class="row">

          <p class="col-sm-10">
                <ul>
                  <li>Large,Med devices -- look the same</li>
                  <li>Small XS devices -- columns drop to the bottom.</li>
                </ul>
          </p>

          <div class="col-sm-2">
            <input type="button" class="btn bt-primary" value="More..."/>
          </div>

        </div>

      </article>
    </section>


    <aside class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-8 ">
      <h4 class="range-title">Left Column</h4>

      <div class="range-list">
        <a href="">
          <img src="../images/tech_manual.png"/>
          <h4>Tech Info</h4>
        </a>

        <a href="">
          <img src="../images/doc_lock.jpg"/>
          <h4>Security</h4>
        </a>

        <a href="">
          <img src="../images/support_guy.jpg"/>
          <h4>Help</h4>
        </a>
      </div>
    </aside>




    <aside class="col-xs-12 col-md-2 right-icon-list">

        <a href="">
          <img src="../images/tech_widget.jpg"/>
          <h6>Architecture</h6>
        </a>

        <a href="">
          <img src="../images/tech_doc_widget.jpg"/>
          <h6>Build Tools</h6>
        </a>


        <a href="">
          <img src="../images/edit_widget.png"/>
          <h6>Quality</h6>
        </a>

    </aside>

  </div>





</div>

<footer class="container-fluid">
  <h1>Footer</h1>
</footer>
</body>
</html>
