


<html>
<head>

</head>
<body>

<header class="container-fluid">
  <h1>Fluid Pattern</h1>

</header>

<div class="container-fluid">

  <div class="row">



    <section class="col-sm-8 col-sm-push-2">
      <article>
        <h2>Concepts -- uses push/pull</h2>

        <div class="row">

          <p class="col-sm-10">
            <ul>
              <li>Large Device - Pushes section to the right aside tag below.
              <li>Small Device -- it forces it to be the first on the small device.
            </ul>
          </p>

          <div class="col-sm-2">
            <input type="button" class="btn bt-primary" value="More..."/>
          </div>

        </div>

      </article>
    </section>


    <aside class="col-sm-2 col-sm-pull-8 range-list">
      <h4 class="range-title">
        col-sm-pull
      </h4>


      <a href="">
        <img src="../images/tech_manual.png"/>
        <h4>Tech Info</h4>
      </a>

      <a href="">
        <img src="../images/doc_lock.jpg"/>
        <h4>Security</h4>
      </a>


      <a href="">
        <img src="../images/support_guy.jpg"/>
        <h4>Help</h4>
      </a>
    </aside>














    <aside class="col-sm-2 right-icon-list">

        <a href="">
          <img src="../images/tech_widget.jpg"/>
          <h6>Architecture</h6>
        </a>

        <a href="">
          <img src="../images/tech_doc_widget.jpg"/>
          <h6>Build Tools</h6>
        </a>


        <a href="">
          <img src="../images/edit_widget.png"/>
          <h6>Quality</h6>
        </a>






    </aside>

  </div>





</div>

<footer class="container-fluid">
  <h1>Footer</h1>
</footer>
</body>
</html>
