<html>
<head>
  <link rel="stylesheet" href="../../styles/reflow.css">
  <link rel="stylesheet" href="../../styles/column.css">
</head>
<body>

<header class="navbar-header">

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top cbp-af-header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a   href="#">
          <img src="images/brand4.jpg" > </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



</header>


<div class="container-fluid">
  <div class="row">
  <img class="img-responsive" src="../../images/gc1.jpg"/>

  </div>
</div>




<footer class="container-fluid">
  <h1>Footer</h1>
</footer>
<!--this needs to b placed after the last dom element! causes header to go opac for mobile -->
<script src="../../scripts/classie.js"></script>
<script src="../../scripts/cbpAnimatedHeader.js"></script>

</body>
</html>
