<html>
<head>
  <link rel="stylesheet" href="../../styles/reflow.css">
  <link rel="stylesheet" href="../../styles/column.css">
</head>
<body>

<header class="navbar-header">

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top cbp-af-header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a   href="#">
          <img src="images/brand4.jpg" > </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



</header>


<div class="container-fluid">

  <section class="row">
    <div class="fill-screen" style="background-image: url(../../images/gc5.jpg)">
      <img class="img-responsive title-image" src="../../images/center_brand.png"/>
      <div class="down-button">
        <a class="btn">
          <i class="fa fa-arrow-circle-o-down fa-4x"></i>
        </a>
      </div>
    </div>
  </section>

  <section class="row text-banner">
      <h1>Raft the Grand Canyon</h1>
      <p>The Grand Canyon (Hopi: Ongtupqa;[1] Yavapai: Wi:kaʼi:la, Spanish: Gran Cañón)
      is a steep-sided canyon carved by the Colorado River in the state of Arizona in
      the United States. It is contained within and managed by Grand Canyon National Park,
      the Kaibab National Forest, Grand Canyon-Parashant National Monument, the Hualapai Tribal Nation,
      the Havasupai people and the Navajo Nation. President Theodore Roosevelt was a major proponent of
      preservation of the Grand Canyon area, and visited it on numerous occasions to hunt and enjoy the scenery.
      </p>
   </section>

  <section class="row">
    <div class="fill-screen fixed-attached" style="background-image: url(../../images/gc4.jpg)">


    </div>
  </section>


  <section class="row activity-section">
      <div class="activity-element col-md-4">
        <h2>The Grand Canyon</h2>
        <p>is 277 miles (446 km) long, up to 18 miles (29 km) wide and attains a depth of over a mile
        (6,093 feet or 1,857 meters).</p>
      </div>

     <div class="activity-element col-md-4">
       <h2>Nearly two billion years</h2>
       <p>of Earth's geological history have been exposed as  the Colorado River and its tributaries cut their channels through layer after layer of rock while the Colorado
       Plateau was uplifted.</p>
      </div>

      <div class="activity-element col-md-4">
        <h2>While some aspects</h2>
        <p>about the history of incision of the canyon are debated by geologists,
        [4] several recent studies support the hypothesis that the Colorado River established its course through the area
        about 5 or 6 million years ago.[5][6][7] Since that time, the Colorado River has driven the down-cutting of the
        tributaries and retreat of the cliffs, simultaneously deepening and widening the canyon.</p>
      </div>
  </section>

  <section class="row">
    <div class="fill-screen fixed-attached" style="background-image: url(../../images/gc3.jpg)"> </div>
  </section>
  <section class="row text-banner">
    For thousands of years, the area has been continuously inhabited by Native Americans, who built settlements
    within the canyon and its many caves. The Pueblo people considered the Grand Canyon a holy site, and made
    pilgrimages to it.[8] The first European known to have viewed the Grand Canyon was García López de Cárdenas
    from Spain, who arrived in 1540.[9]
  </section>

  <section class="row">
    <div class="fill-screen fixed-attached" style="background-image: url(../../images/gc2.jpg)"> </div>
  </section>
  <section class="row text-banner">
     2 to 5 Day Noncommercial River Trips - Noncommercial trips that launch from Diamond Creek and takeout
      at Lake Mead typically are 2 to 5 days in length. Permits for these whitewater trips are available to
       the public starting one year in advance and are distributed on a first-come first-served basis.
  </section>


  <section class="row">
    <div class="fill-screen fixed-attached" style="background-image: url(../../images/gc1.jpg)"> </div>
  </section>
  <section class="row contact-us">
      3 to 18 Day Commercial River Trips. These are professionally guided raft trips, available to the public and
      often reserved a year or two in advance.
  </section>


</div><!--container-fluid-->




<footer class="container-fluid">
  <h1>Footer</h1>
</footer>
<!--this needs to b placed after the last dom element! causes header to go opac for mobile -->
<script src="../../scripts/other/classie.js"></script>
<script src="../../scripts/other/cbpAnimatedHeader.js"></script>
<script src="../../scripts/other/scrolling.js"></script>





</body>
</html>
