<html>
<head>
  <link rel="stylesheet" href="../../styles/reflow.css">
  <link rel="stylesheet" href="../../styles/column.css">
</head>
<body>

<header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
          <li><a href="#">Link4</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



</header>



  <div class="container-fluid">
    <div class="row">

      <aside class="right-icon-list right-icon-list-top visible-md">
        <h4>SHOW Med Devices</h4>
        <a href="">
          <img src="../images/tech_widget.jpg"/>
          <h6>Architecture</h6>
        </a>
        <a href="">
          <img src="../images/tech_doc_widget.jpg"/>
          <h6>Build Tools</h6>
        </a>
        <a href="">
          <img src="../images/edit_widget.png"/>
          <h6>Quality</h6>
        </a>
      </aside>
    </div>
  </div>

  <div class="clearfix visible-xs-block"></div>

  <div class="container-fluid ">
    <div class="row row-sm-height pull-right">

      <section class="col-sm-height col-sm-9 col-lg-8 col-sm-push-3 col-lg-push-2">
        <article>
          <h2>Concepts</h2>
          <div class="row">
            <p class="col-sm-10">
                 Small device -- using media queries the text on left column moves next to image instead of beneath.
            </p>

            <div class="col-sm-2">
              <input type="button" class="btn bt-primary" value="More..."/>
            </div>
          </div>
        </article>
      </section>

      <aside class="col-sm-height col-sm-3 col-lg-2 col-sm-pull-9 col-lg-pull-8 ">
        <h4 class="range-title">Far Left Column</h4>
        <div class="range-list">
          <a href="">
            <img src="../images/tech_manual.png"/>
            <h4>Tech Info</h4>
          </a>

          <a href="">
            <img src="../images/doc_lock.jpg"/>
            <h4>Security</h4>
          </a>

          <a href="">
            <img src="../images/support_guy.jpg"/>
            <h4>Help</h4>
          </a>
        </div>
      </aside>

      <aside class="col-sm-height  right-icon-list col-xs-12 col-md-2 hidden-md">
       <h4>HIDE Medium Devices</h4>
        <a href="">
          <img src="../images/tech_widget.jpg"/>
          <h6>Architecture</h6>
        </a>
        <a href="">
          <img src="../images/tech_doc_widget.jpg"/>
          <h6>Build Tools</h6>
        </a>
        <a href="">
          <img src="../images/edit_widget.png"/>
          <h6>Quality</h6>
        </a>
    </aside>

    </div>
  </div>





</div>

<footer class="container-fluid">
  <h1>Footer</h1>
</footer>
</body>
</html>
