<html>
<head>
</head>
<body>

<header class="container-fluid">
  <h1>Layout Shifter Pattern</h1>

</header>

<div class="container-fluid">

  <div class="row">


    <aside class="right-icon-list right-icon-list-top visible-md">
      <h4>SHOW Med Devices</h4>
      <a href="">
        <img src="../images/tech_widget.jpg"/>
        <h6>Architecture</h6>
      </a>
      <a href="">
        <img src="../images/tech_doc_widget.jpg"/>
        <h6>Build Tools</h6>
      </a>
      <a href="">
        <img src="../images/edit_widget.png"/>
        <h6>Quality</h6>
      </a>
    </aside>


    <section class="col-sm-9 col-lg-8 col-sm-push-3 col-lg-push-2">
      <article>
        <h2>Concepts</h2>

        <div class="row">

          <p class="col-sm-10">
                <ul>
                  <li>Med Devices far right columns shifts, using visible-md hidden-md blocks.</li>
                </ul>
          </p>

          <div class="col-sm-2">
            <input type="button" class="btn bt-primary" value="More..."/>
          </div>

        </div>

      </article>
    </section>


    <aside class="col-sm-3 col-lg-2 col-sm-pull-9 col-lg-pull-8 ">
      <h4 class="range-title">Far Left Column</h4>
      <div class="range-list">
        <a href="">
          <img src="../images/tech_manual.png"/>
          <h4>Tech Info</h4>
        </a>

        <a href="">
          <img src="../images/doc_lock.jpg"/>
          <h4>Security</h4>
        </a>

        <a href="">
          <img src="../images/support_guy.jpg"/>
          <h4>Help</h4>
        </a>
      </div>
    </aside>


    <aside class="right-icon-list col-xs-12 col-md-2 hidden-md">
       <h4>HIDE Medium Devices</h4>
        <a href="">
          <img src="../images/tech_widget.jpg"/>
          <h6>Architecture</h6>
        </a>
        <a href="">
          <img src="../images/tech_doc_widget.jpg"/>
          <h6>Build Tools</h6>
        </a>
        <a href="">
          <img src="../images/edit_widget.png"/>
          <h6>Quality</h6>
        </a>
    </aside>

  </div>





</div>

<footer class="container-fluid">
  <h1>Footer</h1>
</footer>
</body>
</html>
